.App {
  text-align: center;
}

html {
  background-color: #CAD2C1;
}

.App-header {
  background-color: #264767;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-header {
  text-align: left;
  padding-left: 10%;
  margin-bottom: 0%;
}

.App-link {
  color: #61dafb;
}

.current {
  color: black;
  border-bottom: 2px solid black;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar-main{
  float: left;
  background-color: #366592;
  width: fit-content;
  min-height: 25vh;
  text-align: left;
  padding-left: 1%;
  padding-right: 1%;
}

.nav-bar-craft {
  text-align: left;
  padding-left: 12%;
}

.margin-0 {
  margin-bottom: 0%;
  margin-top: 0%;
}

.margin-bottom-0 {
  margin-bottom: 0%;
}

.section-1 {
  float: left;
  padding-left: 10%
}

.justified {
  text-align: left;
  padding-left: 3%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  align-content: center;
  padding-left: 12%;
}

.grid-container-home {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  align-content: center;
  padding-left: 5%;
}